@import '../../assets/AppColors.less';

.startTabTemplate {
  background: @start-tab-background-color;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  .startTabContent {
    width: 95%;
    height: 95%;
    max-width: 95%;
    max-height: 95%;
    border: 1px solid black;
    box-sizing: border-box;
    background: @content-background-color;
    display: flex;
    flex-direction: row;

    .startTabSelection {
      display: flex;
      margin-top: 30px;
      flex-direction: column;
      align-items: center;
      margin-left: 20px;

      input {
        width: 350px;
        margin-top: 20px;
      }
      button {
        min-width: 200px;
        min-height: 50px;
        font-size: large;
        margin-top: 20px;
      }
      .startTabParameterSelection {
        display: flex;

        select {
          max-width: 120px;
          min-width: 60px;
          min-height: 22px;
          margin-top: 10px;
          border: thin solid ;
          border-radius: 6px;
          background-color: white;
          font: inherit;
          font-size: 13px;
          text-align-last: center;
        }
      }
      .startTabStrategySelection {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        .startTabBuyingStrategySelection, .startTabSellingStrategySelection {

          .buyingStrategyParameterSelection, .sellingStrategyParameterSelection {
            display: flex;
            flex-direction: row;

            .buyingStrategyIndicator, .buyingStrategyOperator, .buyingStrategyThreshold, .buyingStrategyDeleteButton,
            .sellingStrategyIndicator, .sellingStrategyOperator, .sellingStrategyThreshold, .sellingStrategyDeleteButton{
              display: flex;
              flex-direction: row;
              height: 30px;

              button {
                margin: 0;
                height: 25px;
                width: 25px;
                min-height: 0;
                min-width: 0;
                border: solid;
                text-align: center;
              }

              select {
                width: 60px;
                text-align-last: center;
                margin-left: 8px;
                margin-right: 10px;

              }
            }
          }
          .buyingStrategyAddButton, .sellingStrategyAddButton {
            margin-top: 15px;
          }
        }
        .startTabSellingStrategySelection {
        }
      }
    }
    .startTabTradingData {

      .startTabTradingDataContent {
        margin-left: 80px;

        .startTabTimeSeriesTable {
          margin-top: 20px;
          margin-bottom: 10px;
          max-height: 500px;
          min-width: 900px;
          max-width: 100%;
          overflow-y: auto;
          white-space: nowrap;

          .timeSeriesTableSignalCell {
            background-color: @buy-signal-color;
          }
        }
        .startTabTradingStatistics {
          margin-top: 30px;

          .tradingStatisticsTradeTable, .tradingStatisticsPerformanceTable {
            display: flex;
            align-items: center;
            justify-content: center;

            table {
              border:  1px solid black;
              border-collapse: collapse;
            }

            .tradeTableHeader, .performanceTableHeader {
              background-color: #1E90FF;
              color: white;
              td {
                width: 150px;
              }
            }
          }
          .tradingStatisticsPerformanceTable {
            margin-top: 20px;
          }
        }
      }
    }
  }
}
