@sidebar-background:  #00468C;
@sidebar-menu-background: #02A4D3;
@sidebar-menu-border-color:  #00468C;
@sidebar-select-background: #50BFE6;
@sidebar-hovered-background: #50BFE6;
@sidebar-border-color: black;
@sidebar-icon-color: #F5F5F5;
@sidebar-text-color: #F5F5F5;

@start-input-border-color: #50BFE6;
@start-button-background: #73C2FB;

@buy-signal-color: #b5e7a0;
@sell-signal-color: #FF0000;

@start-tab-background-color: #93CCEA;
@statistics-tab-background-color: #50BFE6;
@strategy-tab-background-color: #95E0E8;
@config-tab-background-color: #4F69C6;
@settings-tab-background-color: #7ED4E6;

@content-background-color: #FEFEFA;

@table-header-color: #002d72;

@backtest-start-button-background: #7dd87d;


